@media only screen  and (max-width:576px){
    .breadcrumb svg{
        margin: 0 10px;
    }
    .breadcrumb a{
        font-size: 14px;
    }
}
@media only screen  and (max-width:375px){
    .breadcrumb{
        display: flex;
        align-items: center;
        margin-bottom: 20px;
        opacity: 0.5;
    }
    .breadcrumb svg{
        width: 8px;
        height:8px;
        margin: 0 5px;
    }
    .breadcrumb a{
        font-family: 'Open Sans',sans-serif;
        font-weight: 300;
        font-size: 13px;
        line-height: 17px;
        color: #000;
    }

}
@media only screen  and (min-width:576px){
    .breadcrumb{
        display: flex;
        align-items: center;
        margin-bottom: 20px;
        opacity: 0.5;
        width: 100%;
    }
    .breadcrumb svg{
        width: 8px;
        height:8px;
        margin: 0 10px;
    }
    .breadcrumb a{
        font-family: 'Open Sans',sans-serif;
        font-weight: 300;
        font-size: 14px;
        line-height: 17px;
        color: #000;
    }
}
