@media only screen and (max-width:576px){
    .about_title{
        font-family: 'Raleway';
        color: #000;
        font-weight: 400;
        font-size: 23px;
        letter-spacing: 0.05rem;
        line-height: 26px;
    }
    .about_body{
        display: flex;
        flex-direction: column;
        margin-bottom: 50px;
    }
    .about_left{
        width: 100%;
    }
    .about_right{
        margin-right: 0;
    }
    .about_left p{
        font-family: 'Open Sans',sans-serif;
        font-style: normal;
        font-weight: 400;
        font-size: 13px;
        line-height: 22px;
        color:#000;
        margin: 10px 0;
    }
    .about_contact_info{
        margin-top: 30px;
        width: 100%;
        background-color: #F8F9FD;;
    }
    .about_contact_info_title{
        text-align: center;
        font-family: 'Raleway',sans-serif;
        font-weight: 400;
        font-size: 22px;
        line-height: 27px;
        letter-spacing: 0.05em;
        color: #020F59;
        margin-bottom: 20px;
    }
    .about_contact_items{
        padding: 30px 20px;
    }
}
/* Mobile and Desctop */

@media only screen and (min-width:576px){
    .about_title{
        font-family: 'Raleway',sans-serif;
        color: #000;
        font-weight: 400;
        font-size: 35px;
        letter-spacing: 0.05rem;
        line-height: 50px;
    }
    .about_body{
        display: flex;
        flex-direction: column;
        margin-bottom: 90px;
    }
    .about_left{
        width: 100%;
    }
    .about_right{
        width: 100%;
    }
    .about_left p{
        font-family: 'Open Sans',sans-serif;
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 22px;
        color:#000;
        margin: 10px 0;
    }
    .about_contact_info{
        width: 100%;
        height: 500px;
        background-color: #F8F9FD;;
    }
    .contact_adress,.contact_email,.contact_work_time,.contact_phone_number{
        display: flex;
        align-items: center;
    }
    .contact_icon{
        margin-right: 10px;
    }
    .contact_title{
        font-family: 'Open Sans',sans-serif;
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 22px;
        color:#000;
        margin: 10px 0;
    }
    .about_contact_info_title{
        font-family: 'Raleway',sans-serif;
        font-weight: 400;
        font-size: 26px;
        line-height: 31px;
        letter-spacing: 0.05em;
        color: #020F59;
        margin-bottom: 40px;
    }
    .about_contact_items{
        padding: 50px 70px;
    }
}
@media only screen and (min-width:767px){
    .about_body{
        justify-content: space-between;
        flex-direction: row;
    }
    .about_left{
        width: 60%;
    }
    .about_right{
        width: 40%;
    }
    .about_contact_info{
        width: 300px;
    }
    .about_contact_items{
        padding: 50px 30px;
    }
}
@media only screen and (min-width:991px){
    .about_title{
        font-size: 40px;
    }
    .about_contact_info{
        width: 400px;
        height: 520px;
    }
    .about_contact_items{
        padding: 80px 50px;
    }
}
@media only screen and (min-width:1200px){
    .about_title{
        font-size: 45px;
        line-height: 53px;
    }
    .about_body{
        margin-bottom: 200px;
    }
    .about_left{
        width: 640px;
    }
    .about_right{
        margin-right: 0px;
    }
    .about_contact_info{
        width: 410px;
    }
}
@media only screen and (min-width:1400px){
    .about_right{
        margin-right: 100px;
    }
    .about_contact_info{
        height: 580px;
    }
}