@media only screen and (min-width:767px){
    .des_pr_dt_top_info{
        margin-bottom: 30px;/*mmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmb*/
        display: flex;
        align-items: center;
        justify-content: start;
        padding-bottom: 5px;
        border-bottom: 1px solid rgb(236,239,243);
    }
    .des_pr_dt_date{
        margin-right: 25px;
        font-family: 'Open Sans',sans-serif;
        font-weight: 600;
        font-size: 24px;
        line-height: 35px;
        text-transform: uppercase;
        color: #000000;
    }
    .des_pr_dt_rate{
        display: flex;
        align-items: center;
        margin-right: 10px;
    }
    .des_pr_dt_review_title{
        margin-right: 35px;
        font-family: 'Open Sans',sans-serif;
        font-weight: 300;
        font-size: 14px;
        line-height: 17px;
        color: #020F59;
    }
    .des_in_favorites{
        display: flex;
        align-items: center;
        font-family: 'Open Sans',sans-serif;
        font-weight: 300;
        font-size: 14px;
        line-height: 17px;
        color: #020F59;
    }
    .des_in_favorites img{
        margin-right: 10px;
        width: 17px;
        height: 17px;
        opacity: 0.5;
    }
    /* PRODUCT INFO SECC FLEX DIRECTION COLUMN */
    .des_pr_dt_info{
        display: flex;
        flex-direction: column;
    }
    .des_pr_dt_info_left{
        box-sizing: border-box;
        width:100%;
    }
    .des_pr_dt_info_right{
        margin-top: 80px;
        box-sizing: border-box;
        width: auto;
        display: flex;
        justify-content: center;
    }
    /*IMAGES SECTION*/
    .des_pr_dt_info_images{
        display: flex;
    }
    .des_pr_dt_info_view{/*image container*/
        width: 100px;
    }
    .des_pr_dt_info_view_wrapper{
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100px;
    }
    .des_pr_dt_info_view_prev{
        display: flex;
        align-items: center;
        margin-bottom: 15px;
        user-select: none;
        cursor: pointer;
    }
    .des_pr_dt_info_view_next{
        display: flex;
        align-items: center;
        margin-top: 15px;
        user-select: none;
        cursor: pointer;
    }
    .des_pr_dt_info_view_next.disallow,.des_pr_dt_info_view_prev.disallow{
        opacity: 0.2;
    }
    .des_pr_dt_info_view > img{
        width: 25px;
        height: 13px;
        z-index: 100;
    }
    .des_pr_dt_info_view_deg{/*child 11111111111111*/
        display: flex;
        align-items: center;
        justify-content: center;
        height: 100px;
        width: 100px;
        border:1px solid rgb(236,239,243);
        user-select:none;
    }
    .des_pr_dt_info_view_deg img{
        opacity: 0.9;
    }
    .des_pr_dt_info_view_items{/*child 22222 images*/
        width: 100px;
    }
    .des_pr_dt_info_view_body{
        height: 400px;
        overflow: hidden;
    }
    .des_pr_dt_info_view_item{
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100px;
        height: 100px;
        opacity: 0.5;
        cursor: pointer;
        user-select: none;
    }
    .des_pr_dt_info_view_item.active{
        opacity: 1;
    }
    .des_pr_dt_info_view_item img{
        width: 80px;
        height: 80px;
    }
    .des_pr_dt_info_view_item div{
        position: absolute;
        top: 80%;
        left: 30%;
        width: 100%;
    }
    .des_pr_dt_info_view_item div img{
        width: 40px;
        height: 20px;
    }
    .des_pr_dt_info_image{
        width: 690px;
        margin-left: 15px;
        margin-right: 80px;
        height: 690px;
        display: flex;
        align-items: center;
        justify-content: center;
        position: relative;
    }
    .des_pr_dt_info_image >img{
        width: 400px;
        height: 400px;
    }
    .des_pr_dt_info_image div{
        position: absolute;
        top: 55%;
        left: 28%;
        opacity: 0.5;
    }
    /*DESCRIPTION AND REVIEWS */
    .des_pr_dt_description_reviews{/*width => 920-80 === 840px */
        margin-top: 0px;
    }
    /*DESCRIPTION AND REVIEWS warpper padding*/
    .des_pr_dt_des_rev_padding{
        padding:0 20px
    }
    /*DESCRIPTION AND REVIEWS warpper padding*/

    .des_pr_dt_desc_revi_titles{
        display: flex;
        box-sizing: border-box;
        padding-bottom: 15px;
        margin-bottom: 20px;
        border-bottom:2px solid rgb(236,239,243);
        margin:0 20px;/*margin*/
    }
    .des_pr_dt_desc_revi_titles .title{
        font-family: 'Raleway', sans-serif;
        font-weight: 400;
        font-size: 26px;
        line-height: 31px;
        width: 50%;
        text-align: center;
        color: #020F59;
        opacity: 0.5;
        cursor: pointer;
        user-select: none;
        transition: all 0.3s ease;
    }
    .des_pr_dt_desc_revi_titles .title.active{
        opacity: 1;
    }
    .des_pr_dt_desc_revi_items{
        width: 100%;
        overflow: hidden;/*========================================*/
    }

    .des_pr_dt_desc_revi_body{
        width: 200%;
        display: flex;
        box-sizing: border-box;
    }
    /*description*/
    .des_pr_dt_description{
        width: 50%;
        box-sizing: border-box;
        transition: all 0.3s ease;
        height: 0;
        transform: translateX(-100%);
        padding-top: 20px;/*pppppppppppppppppppppttttttttt*/
    }
    .des_pr_dt_description.active{
        height: 100%;
        transform: translateX(0);
    }
    .des_pr_dt_description div{
        width: 100%;
    }
    .des_pr_dt_description div p{
        font-family: 'Open Sans',sans-serif;
        font-weight: 300;
        font-size: 16px;
        line-height: 25px;
        color: #000000;
        padding: 3px 0;
    }
    /*reviews*/
    .des_pr_dt_reviews{
        width: 50%;
        box-sizing: border-box;
        transition: all 0.3s ease;
        height: 0;
        transform: translateX(0);
    }
    .des_pr_dt_reviews.active{
        height: 100%;
        transform: translateX(-100%);
    }
    /*reviews carousel */
    .des_pr_dt_reviews_carousel{
        padding-top: 30px;/*carousel top padding*/
        display: flex;  
        align-items: center; 
        position: relative;/*POSITION RELATIVE*/
    }
    .des_pr_dt_rw_cr_icon_prev{
        top: 50%;
        left: -15px;
        position: absolute;/*POSITION ABSOLUTE*/
        cursor: pointer;
        user-select: none;
        z-index: 1;
    }
    .des_pr_dt_rw_cr_icon_next{
        top: 50%;
        right: -15px;
        position: absolute;/*POSITION ABSOLUTE*/
        cursor: pointer;
        user-select: none;
        z-index: 1;
    }
    .des_pr_dt_rw_cr_icon_prev.disabled img,.des_pr_dt_rw_cr_icon_next.disabled img{
        opacity: 0.2;
    }
    .des_pr_dt_revi_cr_body{
        width: 100%;
        overflow: hidden;
        box-sizing: border-box;
    }
    .des_pr_dt_revi_cr_items{
        display: flex;
    }
    .des_pr_dt_revi_cr_item{
        min-height: 280px;
        width: 100%;
        background-color:#F8F9FD;
        box-sizing: border-box;
        margin-right:5px;
    }
    .des_pr_dt_revi_cr_element{
        padding: 30px 60px;
        overflow: hidden;
    }
    .des_pr_dt_revi_cr_element .title{
        font-family: 'Open Sans',sans-serif;
        font-weight: 600;
        font-size: 16px;
        line-height: 22px;
        color: #000000;
        margin-bottom: 8px;
    }
    .des_pr_dt_revi_cr_element .rating{
        display: flex;
        margin-bottom: 20px;
    }
    .des_pr_dt_revi_cr_element .desctiption{
        font-family: 'Open Sans',sans-serif;
        color: #000000;
        font-weight: 400;
        font-size: 16px;
        line-height: 22px;
        margin-bottom: 15px;
    }
    .des_pr_dt_revi_cr_element .images{
        display: flex;
        flex-wrap: wrap;
        height: 80px;
        max-width: 300px;
        margin-bottom: 28px;
    }
    .des_pr_dt_revi_cr_element .images img{
        width: 80px;
        height: 80px;
        margin-right: 17px;
        margin-bottom: 10px;
        background-color: #020F59;
    }
    .des_pr_dt_revi_cr_element .date{
        font-family: 'Open Sans';
        font-weight: 400;
        font-size: 12px;
        line-height: 16px;
        color: #000000;
        opacity: 0.5;
    }

    .des_pr_dt_reviews_form{/*REVIEW FORM SECTION*/
        margin-top: 30px;
    }
    .des_pr_dt_reviews_form_name_file{
        display: flex;
        align-items: flex-end;
        justify-content: space-between;
        margin-bottom: 20px;
    }
    .des_pr_dt_name_input{/*child1*/
        display: flex;
        flex-direction: column;
    }
    .des_pr_dt_name_input label{
        margin-bottom: 6px;
        font-family: 'Open Sans';
        font-weight: 400;
        font-size: 12px;
        line-height: 16px;
        color: #9EAFC2;
    }
    .des_pr_dt_name_input input{
        width: 400px;
        height: 60px;
        border: 1px solid #9EAFC2;
        box-sizing: border-box;
        outline: none;
        color:rgb(207, 215, 224);
        font-family: 'Open Sans',sans-serif;
    }

    .des_pr_dt_file_input {/*child2*/
        margin-left: 40px;
        width: 251px;
        height: 60px;
        display: flex;
        align-items:center;
        justify-content: center;
        background: rgb(207, 215, 224);
        user-select: none;
    }
    .des_pr_dt_file_input label{
        display: flex;
        align-items: center;
        cursor: pointer;
    }
    .des_pr_dt_file_input label img{
        height: 18px;
        width: 19px;
        margin-right: 5px; 
    }
    .des_pr_dt_file_input label div{
        font-family: 'Open Sans';
        color: #000000;
        font-weight: 400;
        font-size: 13px;
        line-height: 22px;
    }
    .des_pr_dt_text_input{/*child3*/
        display: flex;
        flex-direction: column;
        width: 100%;
        margin-bottom: 20px;/*mb*/
    }
    .des_pr_dt_text_input label{
        margin-bottom: 6px;
        font-family: 'Open Sans';
        font-weight: 400;
        font-size: 12px;
        line-height: 16px;
        color: #9EAFC2;
    }
    .des_pr_dt_text_input textarea{
        width: 100%;
        height: 200px;
        border: 1px solid #9EAFC2;
        box-sizing: border-box;
        outline: none;
        color:rgb(207, 215, 224);
        font-family: 'Open Sans',sans-serif;
    }
    .des_pr_dt_rating_submit{
        display: flex;
        justify-content: space-between;
        align-items: flex-end;
    }
    
    .des_pr_dt_rating{
        display: flex;
        flex-direction: column;
    }
    .des_pr_dt_rating_title{
        margin-bottom: 6px;
        font-family: 'Open Sans';
        font-weight: 400;
        font-size: 12px;
        line-height: 16px;
        color: #9EAFC2;
    }
    .des_pr_dt_rating_icons svg{
        margin-right: 7px;
        width: 39px;
        height: 37px;
        cursor: pointer;
        user-select: none;
    }
    .des_pr_dt_submit{
        width: 250px;
        height: 60px;
        background-color: #fff;
        box-sizing: border-box;
        border: 1px solid #020F59;
        display: flex;
        align-items: center;
        justify-content: center;
        font-family: 'Open Sans',sans-serif;
        font-weight: 600;
        font-size: 16px;
        line-height: 22px;
        color: #020F59;
        cursor: pointer;
        transition: all 0.3s ease;
    }
    .des_pr_dt_submit:hover{
        background-color: #020F59;
        color: #fff;
    }
    /* action */
    .des_pr_dt_banner{
        margin-top: 70px;
        display:none;
    }
    .des_pr_dt_banner img{
        width: 220px;
        height: 500px;
    }
    .des_pr_dt_recently_viewed{
        margin-top: 100px;
    }
    .des_pr_dt_recently_viewed_title{
        margin-bottom: 54px;
        font-family: 'Raleway';
        color: #000000;
        font-weight: 400;
        font-size: 26px;
        line-height: 31px;
        text-align: center;
        letter-spacing: 0.05em;
    }
    .des_pr_dt_recently_viewed_products{
        width: 100%;
        margin-bottom: 100px;
    }
}

@media only screen and (min-width:991px){
    /* PRODUCT INFO SECC */
    .des_pr_dt_info{
        justify-content: space-between;
        flex-direction: row;
    }
    .des_pr_dt_info_left{
        width: 530px;
    }
    .des_pr_dt_info_right{
        display: block;
        box-sizing: border-box;
        width: 410px;
    }
    /*DESCRIPTION AND REVIEWS */
    .des_pr_dt_description_reviews{/*width => 920-80 === 840px */
        margin-top: 100px;
    }
    /*reviews carousel */
    .des_pr_dt_name_input input{
        width: 300px;
    }
    .des_pr_dt_banner{
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .des_pr_dt_recently_viewed{
        margin-top: 130px;
    }
    .des_pr_dt_recently_viewed_products{
        margin-bottom: 200px;
    }
}

@media only screen and (min-width:1200px){
    /* PRODUCT INFO SECC */
    .des_pr_dt_info_left{
        width: 730px;
    }
    .des_pr_dt_info_image >img{
        width: 450px;
        height: 450px;
    }
    .des_pr_dt_info_image div{
        top: 70%;
    }

    /*DESCRIPTION AND REVIEWS */
    .des_pr_dt_description_reviews{/*width => 920-80 === 840px */
        margin-top: 150px;
    }
    /*reviews carousel */
    .des_pr_dt_name_input input{
        width: 450px;
    }
    .des_pr_dt_file_input label div{
        font-size: 16px;
    }    
    .des_pr_dt_submit{
        width: 400px;
        height: 60px;
    }
}
@media only screen and (min-width:1400px){
    .des_pr_dt_date{
        font-size: 26px;
        line-height: 35px;
    }
    .des_pr_dt_info_left{
        width: 920px;
    }
    .des_pr_dt_info_image >img{
        width: 550px;
        height: 550px;
    }
        /*DESCRIPTION AND REVIEWS */
    .des_pr_dt_description_reviews{/*width => 920-80 === 840px */
        margin-top: 195px;
    }
    /*DESCRIPTION AND REVIEWS warpper padding*/

    .des_pr_dt_desc_revi_titles{
        border-bottom:3px solid rgb(236,239,243);
    }
    .des_pr_dt_description{/*description*/
        width: 100%;
    }
    .des_pr_dt_description div{
        width: 70%;
    }
    /*reviews carousel */
    .des_pr_dt_revi_cr_element{
        padding: 40px 30px;
    }
    .des_pr_dt_name_input input{
        width: 577px;
    }    
    .des_pr_dt_submit{
        width: 500px;
    }
    .des_pr_dt_banner img{
        width: 294px;
        height: 595px;
    }
    .des_pr_dt_recently_viewed{
        margin-top: 150px;
    }
}