@media only screen and (max-width:767px){
    .desctop_product_detail{
        display: none;
    }
}
@media only screen and (min-width:767px){
    .mobile_product_detail{
        display: none;
    }
    .desctop_product_detail{
        display: block;
    }
}