@media only screen and (min-width:300px){
    .pr_dt_actions{
        margin-top: 50px;
        width: 100%;
    }
    .pr_dt_price{
        display: flex;
        align-items: center;
        margin-bottom: 25px;/**/
    }
    .pr_dt_price div{
        font-family: 'Open Sans',sans-serif;
        color: #000000;
        font-weight: 600;
        font-size: 26px;
        line-height: 35px;
    }
    .pr_dt_price span{
        margin-left: 18px;
        font-family: 'Open Sans',sans-serif;
        font-weight: 400;
        font-size: 14px;
        line-height: 19px;
        text-decoration-line: line-through;
        color: #9EAFC2;
        opacity: 0.8;
    }

    .pr_dt_sizes{
        display: flex;
        justify-content: space-between;
    }
    .pr_dt_sizes_female{
        width: 45%;
        
    }
    .pr_dt_sizes_male{
        width: 45%;
    }
    .pr_dt_sizes_title{
        font-family: 'Open Sans',sans-serif;
        color: #000;
        font-weight: 400;
        font-size: 14px;
        line-height: 22px;
        margin-bottom: 3px;
    }
    .pr_dt_size{
        width: 100%;
        height: 50px;
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;
        user-select: none;
    }
    .pr_dt_size_btn{
        width: 90%;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    .pr_dt_size_btn svg{
        transition: all 0.3s ease;
        z-index: 100;
    }
    .pr_dt_size_btn.active svg{
        transform: rotate(-180deg);
    }
    .show_size{
        font-family: 'Open Sans',sans-serif;
        font-weight: 400;
        font-size: 16px;
        line-height: 16px;
        transition: all 0.3s ease;
        color: #000000;
        opacity: 0.5;
    }
    .show_size.passive{
        opacity: 0;
    }
    .pr_dt_size_items_wrapper{
        top: 0;
        height: 50px;
        width: 100%;
        position: absolute;
        transition: all 0.3s ease;
        border: 1px solid rgb(236,239,243);
        overflow: hidden;
    }
    .pr_dt_size_items_wrapper.active{
        height: 160px;
        z-index: 1;
    }
    .pr_dt_size_items{
        height: 160px;
        overflow-y: scroll;
        width: 100%;
        transform: translateY(-100%);
        transition: all 0.3s ease;
    }
    .pr_dt_size_items.active{
        background-color:#fff;
        z-index: 1;
        transform: translateY(0);
    }
    .pr_dt_size_item{
        height: 50px;
        display: flex;
        align-items: center;
        margin-left: 20px;
        cursor: pointer;
        font-family: 'Open Sans',sans-serif;
        font-weight: 400;
        font-size: 16px;
        line-height: 22px;
        transition: all 0.3s ease;
        color: #000000;
        user-select:none;
    }
    .pr_dt_size_item.active{
        color:#020F59;
        font-weight: 700;
    }
    .pr_dt_size_items::-webkit-scrollbar-track{
        background:#f5f5f5;
    }

    .pr_dt_size_items::-webkit-scrollbar{
        width: 3px;
        background-color: #e3e3e3;
    }
    .pr_dt_size_items::-webkit-scrollbar-thumb{
        background-color:#020F59;
    }
    .pr_dt_cart{
        margin-bottom: 10px;
        margin-top: 45px;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        height: 60px;
        background-color: #020F59;
        cursor:pointer;
        user-select: none;
        border: none;   
    }

    .pr_dt_cart img{
        margin-right: 15px;
        width: 24px;
        height: 24px;
    }
    .pr_dt_cart div{
        font-family: 'Open Sans',sans-serif;
        color:#fff;
        font-weight: 600;
        font-size: 16px;
        line-height: 22px;
    }
    .pr_dt_write{
        box-sizing: border-box;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        height: 60px;
        border: 1px solid #020F59;
        cursor:pointer;
        user-select: none;
        margin-bottom: 44px;
    }
    .pr_dt_write img{
        width: 26px;
        height: 26px;
        margin-right: 10px;
    }
    .pr_dt_write div{
        font-family: 'Open Sans',sans-serif;
        color:#020F59;
        font-weight: 600;
        font-size: 16px;
        line-height: 22px;
    }

    .pr_dt_studio{
        width: 100%;
        /* margin-top: 30px; */
    }
    .pr_dt_studio .example{
        display: flex;
        align-items: center;
        margin-bottom: 6px;
    }
    .pr_dt_studio .example span{
        margin-left: 8px;
        font-family: 'Open Sans',sans-serif;
        font-weight: 400;
        font-size: 14px;
        line-height: 19px;
        color: #000000;
        opacity: 0.45;
    }
    .pr_dt_studio .title{
        font-family: 'Open Sans',sans-serif;
        font-weight: 300;
        font-size: 14px;
        line-height: 17px;
        color: #000000;
    }
    .pr_dt_studio .title span{
        font-family: 'Open Sans',sans-serif;
        font-weight: 400;
        font-size: 14px;
        line-height: 17px;
        color: #000000;
    }
    .pr_dt_studio .title a{
        font-family: 'Open Sans',sans-serif;
        font-weight: 300;
        font-size: 14px;
        line-height: 19px;
        color:#808080;
    }
    .pr_dt_studio .line{
        width: 100%;
        height: 1px;
        margin-top: 23px;/*mmmmmmmmmmmmmmmmmmmmm   tttttt*/
        background: #9EAFC2;
        opacity: 0.2;
    }
    .pr_dt_design{
        margin-top: 20px;
    }
    .pr_dt_design h6{
        margin-bottom: 10px;
        font-family: 'Open Sans',sans-serif;
        font-weight: 400;
        font-size: 14px;
        line-height: 19px;
        color: #000000;
    }
    .pr_dt_design div{
        padding: 2px 0;
        font-family: 'Open Sans',sans-serif;
        font-weight: 300;
        font-size: 14px;
        line-height: 17px;
        color:black;
    }
}
@media only screen and (min-width:767px){
    .pr_dt_actions{/*ACTIONS*/
        width: 410px;
        margin-top: 0;
    }
    .pr_dt_price div{
        font-weight: 600;
        font-size: 34px;
        line-height: 54px;
        margin-right: 20px;
    }
    .pr_dt_price span{
        margin-left: 0;
        font-weight: 600;
        font-size: 18px;
        line-height: 27px;
        color: #9EAFC2;
        opacity: 0.8;
        text-decoration-line: line-through;
    }
    .pr_dt_sizes_female{
        width: 180px;
    }
    .pr_dt_sizes_male{
        width: 180px;
    }
    .pr_dt_sizes_title{
        font-size: 16px;
        margin-bottom: 10px;
    }
    .pr_dt_size{
        width: 180px;
        height: 40px;
    }
    .pr_dt_size_btn{
        width: 140px;
    }
    .show_size{
        line-height: 22px;
    }
    .pr_dt_size_items_wrapper{
        height: 40px;
        width: 180px;
    }
    .pr_dt_studio{/*descriptionnnn*/
        margin-top: 30px;
    }
}