@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap');

*{
    margin: 0;
    padding: 0;
}
a{
    text-decoration: none;
}


@media only screen and (max-width:576px){
    .wrapper{
        margin: 0 20px;
        
    }
    body::-webkit-scrollbar-track{
        background:#f5f5f5;
    }

    body::-webkit-scrollbar{
        width: 10px;
        background-color: #e3e3e3;
    }
    body::-webkit-scrollbar-thumb{
        background-color:#020F59;
    }
}
@media only screen and (min-width:576px){
    .wrapper{
        width: 540px;
        margin:auto;
    }
    body::-webkit-scrollbar-track{
        background:#f5f5f5;
    }

    body::-webkit-scrollbar{
        width: 10px;
        background-color: #e3e3e3;
    }
    body::-webkit-scrollbar-thumb{
        background-color:#020F59;
    }
    
}

@media only screen and (min-width:767px){
    .wrapper{
        width: 720px;
        margin:auto;
    }
    
}
@media only screen and (min-width:991px){
    .wrapper{
        width: 960px;
        margin:auto;
    }
}
@media only screen and (min-width:1200px){
    .wrapper{
        width: 1140px;
        margin:auto;
    }
    body::-webkit-scrollbar-track{
        background:#f5f5f5;
    }

    body::-webkit-scrollbar{
        width: 10px;
        background-color: #e3e3e3;
    }
    body::-webkit-scrollbar-thumb{
        background-color:#020F59;
    }
   
}
@media only screen and (min-width:1400px){
    .wrapper{
        width: 1330px;
        margin:auto;
    }
    body::-webkit-scrollbar-track{
        background:#f5f5f5;
    }

    body::-webkit-scrollbar{
        width: 15px;
        background-color: #e3e3e3;
    }
    body::-webkit-scrollbar-thumb{
        background-color:#020F59;
    }
    
}